[user]
pinned=/usr/share/applications/firefoxdeveloperedition.desktop;/usr/share/applications/thunderbird.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/xfce4-terminal.desktop;/home/ymstnt/.local/share/applications/discord.desktop;
indicatorStyle=0
noWindowsListIfSingle=false
forceIconSize=false
iconSize=24
showWindowCount=false
showPreviews=true
inactiveColor=rgb(119,118,123)
indicatorOrientation=0
onlyDisplayVisible=false
onlyDisplayScreen=false
